# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\java\java-masterclass\04 - Expressions, Statements, Code Blocks, Methods\MinsToYearsAndDays\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
